create database ATCameraDB
go

USE [ATCameraDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[accid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[accUserName] [varchar](50) NULL,
	[accPassword] [varchar](150) NULL,
	[accRole] [varchar](10) NULL,
	[accDescript] [nvarchar](max) NULL,
	[accStatus] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camera](
	[camid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[camSensor] [nvarchar](150) NULL,
	[camResolution] [nvarchar](150) NULL,
	[camIR] [nvarchar](150) NULL,
	[camLen] [nvarchar](150) NULL,
	[camVideoStandard] [nvarchar](150) NULL,
	[camRecord] [nvarchar](150) NULL,
	[camTemperature] [nvarchar](150) NULL,
	[camMemory] [nvarchar](150) NULL,
	[camMaterial] [nvarchar](150) NULL,
	[prdid] [varchar](50) NULL,
 CONSTRAINT [PK_Camera] PRIMARY KEY CLUSTERED 
(
	[camid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[ctgid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[ctgType] [nvarchar](50) NULL,
	[ctgTitle] [nvarchar](50) NULL,
	[ctgOrigin] [nvarchar](50) NULL,
	[ctgStatus] [varchar](10) NULL,
	[ctgDescript] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ctgid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[ctmid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[ctmFirstName] [nvarchar](50) NULL,
	[ctmLastName] [nvarchar](50) NULL,
	[ctmAddress] [nvarchar](max) NULL,
	[ctmPhone] [varchar](20) NULL,
	[ctmEmail] [varchar](200) NULL,
	[ctmPassword] [varchar](max) NOT NULL,
	[ctmSocialToken] [varchar](max) NULL,
	[ctmDob] [date] NULL,
	[ctmImage] [varchar](max) NULL,
	[ctmDescript] [nvarchar](max) NULL,
	[ctmRole] [varchar](10) NULL,
	[ctmStatus] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ctmid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DVR]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DVR](
	[dvrid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[dvrChannel] [nvarchar](150) NULL,
	[dvrInPort] [nvarchar](150) NULL,
	[dvrOutPort] [nvarchar](150) NULL,
	[dvrCompression] [nvarchar](150) NULL,
	[dvrRecord] [nvarchar](150) NULL,
	[dvrPlayback] [nvarchar](150) NULL,
	[dvrPower] [nvarchar](150) NULL,
	[prdid] [varchar](50) NULL,
 CONSTRAINT [PK_DVR] PRIMARY KEY CLUSTERED 
(
	[dvrid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[oddid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[oddQuantity] [int] NULL,
	[oddPrice] [float] NULL,
	[odmid] [varchar](50) NULL,
	[prdid] [varchar](50) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[oddid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderMaster]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderMaster](
	[odmid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[installationDate] [datetime] NULL,
	[odmPrice] [float] NULL,
	[odmPayments] [varchar](20) NULL,
	[odmStatus] [varchar](10) NULL,
	[odmDescript] [nvarchar](max) NULL,
	[ctmid] [varchar](50) NULL,
 CONSTRAINT [PK_OrderMaster] PRIMARY KEY CLUSTERED 
(
	[odmid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[prdid] [varchar](50) NOT NULL,
	[createdDate] [datetime] NULL,
	[prdTittle] [nvarchar](50) NULL,
	[prdPower] [nvarchar](150) NULL,
	[prdWarranty] [nvarchar](50) NULL,
	[prdImage] [varchar](max) NULL,
	[prdImage2] [varchar](max) NULL,
	[prdImage3] [varchar](max) NULL,
	[prdDiscount] [int] NULL,
	[prdPrice] [float] NULL,
	[prdDescript] [nvarchar](max) NULL,
	[prdStatus] [varchar](10) NULL,
	[ctgid] [varchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[prdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rating](
	[rateid] [int] NOT NULL,
	[createdDate] [datetime] NULL,
	[ratePoint] [int] IDENTITY(1,1) NOT NULL,
	[camid] [varchar](50) NULL,
	[ctmid] [varchar](50) NULL,
	[rateDescript] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[rateid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wishlist](
	[wishid] [int] IDENTITY(1,1) NOT NULL,
	[createdDate] [datetime] NULL,
	[prdid] [varchar](50) NULL,
	[ctmid] [varchar](50) NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[wishid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vCameraOrder]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCameraOrder]
AS
SELECT        dbo.Camera.camid, dbo.Camera.camSensor, dbo.Camera.camResolution, dbo.Camera.camIR, dbo.Camera.camLen, dbo.Camera.camVideoStandard, dbo.Camera.camRecord, dbo.Camera.camTemperature, 
                         dbo.Camera.camMemory, dbo.Camera.camMaterial, dbo.Product.prdid AS Expr1, dbo.Product.prdTittle, dbo.Product.prdPower, dbo.Product.prdWarranty, dbo.Product.prdImage, dbo.Product.prdImage2, dbo.Product.prdImage3, 
                         dbo.Product.prdDiscount, dbo.OrderMaster.odmid, dbo.OrderMaster.createdDate, dbo.OrderMaster.installationDate, dbo.OrderMaster.odmPrice, dbo.OrderMaster.odmPayments, dbo.OrderMaster.odmStatus, 
                         dbo.OrderMaster.odmDescript, dbo.OrderMaster.ctmid, dbo.OrderDetail.oddid, dbo.OrderDetail.oddQuantity, dbo.OrderDetail.oddPrice, dbo.Product.prdPrice, dbo.Product.prdDescript, dbo.Category.ctgid, dbo.Category.ctgType, 
                         dbo.Category.ctgTitle, dbo.Category.ctgOrigin
FROM            dbo.OrderDetail INNER JOIN
                         dbo.Product ON dbo.OrderDetail.prdid = dbo.Product.prdid INNER JOIN
                         dbo.Camera ON dbo.Product.prdid = dbo.Camera.prdid INNER JOIN
                         dbo.OrderMaster ON dbo.OrderDetail.odmid = dbo.OrderMaster.odmid INNER JOIN
                         dbo.Category ON dbo.Product.ctgid = dbo.Category.ctgid

GO
/****** Object:  View [dbo].[vDvrOrder]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDvrOrder]
AS
SELECT        dbo.OrderDetail.oddid, dbo.OrderDetail.oddQuantity, dbo.OrderDetail.oddPrice, dbo.Product.prdid, dbo.Product.prdTittle, dbo.Product.prdPower, dbo.Product.prdWarranty, dbo.Product.prdImage, dbo.Product.prdImage2, 
                         dbo.Product.prdImage3, dbo.Product.prdDiscount, dbo.Product.prdPrice, dbo.Product.prdDescript, dbo.Product.prdStatus, dbo.DVR.dvrid, dbo.DVR.dvrChannel, dbo.DVR.dvrInPort, dbo.DVR.dvrOutPort, dbo.DVR.dvrCompression, 
                         dbo.DVR.dvrRecord, dbo.DVR.dvrPlayback, dbo.DVR.dvrPower, dbo.OrderMaster.odmid, dbo.OrderMaster.createdDate, dbo.OrderMaster.installationDate, dbo.OrderMaster.odmPrice, dbo.OrderMaster.odmPayments, 
                         dbo.OrderMaster.odmStatus, dbo.OrderMaster.odmDescript, dbo.OrderMaster.ctmid, dbo.Category.ctgid, dbo.Category.ctgType, dbo.Category.ctgTitle, dbo.Category.ctgOrigin
FROM            dbo.DVR INNER JOIN
                         dbo.Product ON dbo.DVR.prdid = dbo.Product.prdid INNER JOIN
                         dbo.OrderDetail ON dbo.Product.prdid = dbo.OrderDetail.prdid INNER JOIN
                         dbo.OrderMaster ON dbo.OrderDetail.odmid = dbo.OrderMaster.odmid INNER JOIN
                         dbo.Category ON dbo.Product.ctgid = dbo.Category.ctgid

GO
/****** Object:  View [dbo].[ViewProductOD]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewProductOD]
AS
SELECT        dbo.Product.*, dbo.OrderDetail.oddid, dbo.OrderDetail.createdDate AS Expr1, dbo.OrderDetail.oddQuantity, dbo.OrderDetail.oddPrice, dbo.OrderDetail.odmid
FROM            dbo.OrderDetail INNER JOIN
                         dbo.Product ON dbo.OrderDetail.prdid = dbo.Product.prdid



GO
/****** Object:  View [dbo].[ViewTopProduct]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewTopProduct]
AS
SELECT        TOP (100) PERCENT prdid, SUM(oddQuantity) AS Total
FROM            dbo.OrderDetail AS od
GROUP BY prdid
ORDER BY Total DESC



GO
/****** Object:  View [dbo].[vProductOrder]    Script Date: 15/05/2019 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vProductOrder]
AS
SELECT        dbo.OrderMaster.odmid, dbo.OrderMaster.createdDate, dbo.OrderMaster.installationDate, dbo.OrderMaster.odmPrice, dbo.OrderMaster.odmPayments, dbo.OrderMaster.odmStatus, dbo.OrderMaster.odmDescript, 
                         dbo.OrderMaster.ctmid, dbo.OrderDetail.oddid, dbo.OrderDetail.oddQuantity, dbo.OrderDetail.oddPrice, dbo.Product.prdid, dbo.Product.prdTittle, dbo.Product.prdPower, dbo.Product.prdWarranty, dbo.Product.prdImage, 
                         dbo.Product.prdDiscount, dbo.Product.prdPrice, dbo.Product.prdDescript, dbo.Product.prdStatus, dbo.Category.ctgid, dbo.Category.ctgType, dbo.Category.ctgTitle, dbo.Category.ctgOrigin
FROM            dbo.OrderDetail INNER JOIN
                         dbo.OrderMaster ON dbo.OrderDetail.odmid = dbo.OrderMaster.odmid INNER JOIN
                         dbo.Product ON dbo.OrderDetail.prdid = dbo.Product.prdid INNER JOIN
                         dbo.Category ON dbo.Product.ctgid = dbo.Category.ctgid

GO
INSERT [dbo].[Account] ([accid], [createdDate], [accUserName], [accPassword], [accRole], [accDescript], [accStatus]) VALUES (N'acc321453', CAST(0x0000AA3D00BD83A0 AS DateTime), N'phu', N'!23456', N'admin', N'Full permission', N'active')
INSERT [dbo].[Account] ([accid], [createdDate], [accUserName], [accPassword], [accRole], [accDescript], [accStatus]) VALUES (N'acc543647', CAST(0x0000AA3D00BD83A0 AS DateTime), N'chien', N'123456', N'manager', N'test authen', N'active')
INSERT [dbo].[Camera] ([camid], [createdDate], [camSensor], [camResolution], [camIR], [camLen], [camVideoStandard], [camRecord], [camTemperature], [camMemory], [camMaterial], [prdid]) VALUES (N'00ea3cf3-85ad-4ec4-b79e-5e2f030eb50a', CAST(0x0000AA4E0035C91E AS DateTime), N'1.0 Megapixel OV', N'1.0MP 25/30fps@(1280x720)', N'20m, led SMD', N'2.8mm (84º)', N'HD', N'Update', N'-40~60ºC', N'Update', N'Plastic', N'4caca448-1b3e-4b04-b085-0ac3a65e1c7c')
INSERT [dbo].[Camera] ([camid], [createdDate], [camSensor], [camResolution], [camIR], [camLen], [camVideoStandard], [camRecord], [camTemperature], [camMemory], [camMaterial], [prdid]) VALUES (N'1e47aa1a-27a5-4464-a685-27cec67aeada', CAST(0x0000AA4E003B6630 AS DateTime), N'1.0 Megapixel OV', N'1.0MP 25/30fps@(1280x720)', N'20m, led SMD', N'2.8mm (84º)', N'HD', N'2D-DNR', N'-40~+60ºC', N'Update', N'Plastic', N'123800b5-c510-42bb-80f6-8143dad7d5a7')
INSERT [dbo].[Camera] ([camid], [createdDate], [camSensor], [camResolution], [camIR], [camLen], [camVideoStandard], [camRecord], [camTemperature], [camMemory], [camMaterial], [prdid]) VALUES (N'617ee2be-b831-4c84-af62-0494140ebfc7', CAST(0x0000AA4E003CE687 AS DateTime), N'1.0 Megapixel Panasonic', N'1.0MP 25/30fps@(1280x720)', N'20m, led SMD', N'2.8mm (84º)', N'HD', N'2D-DNR', N'-40~+60ºC', N'Update', N'Plastic', N'360dd047-3451-471f-8d5e-eef12b49fa88')
INSERT [dbo].[Category] ([ctgid], [createdDate], [ctgType], [ctgTitle], [ctgOrigin], [ctgStatus], [ctgDescript]) VALUES (N'65360a1e-64e1-4ea8-8d00-0d61fe6cdab4', CAST(0x0000AA4E0031E0E5 AS DateTime), N'Other', N'Korera', N'KR', N'new', N'')
INSERT [dbo].[Category] ([ctgid], [createdDate], [ctgType], [ctgTitle], [ctgOrigin], [ctgStatus], [ctgDescript]) VALUES (N'cate1', NULL, N'Camera', N'HD ANALOG CAMERA 1.0MP', N'KX', N'active', N'CAMERA 4 IN 1')
INSERT [dbo].[Category] ([ctgid], [createdDate], [ctgType], [ctgTitle], [ctgOrigin], [ctgStatus], [ctgDescript]) VALUES (N'cate10', NULL, N'Camera', N'HD ANLOG CAMERA 4K POC (4.OMP)', N'KX', N'new', NULL)
INSERT [dbo].[Customer] ([ctmid], [createdDate], [ctmFirstName], [ctmLastName], [ctmAddress], [ctmPhone], [ctmEmail], [ctmPassword], [ctmSocialToken], [ctmDob], [ctmImage], [ctmDescript], [ctmRole], [ctmStatus]) VALUES (N'ctm1', CAST(0x0000AA4E00000000 AS DateTime), N'Chien', N'Tran', N'BINH PHUOC', N'0988909915', N'thanhutdx22@gmail.com', N'chien123', N'chien123456', CAST(0x24200B00 AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([ctmid], [createdDate], [ctmFirstName], [ctmLastName], [ctmAddress], [ctmPhone], [ctmEmail], [ctmPassword], [ctmSocialToken], [ctmDob], [ctmImage], [ctmDescript], [ctmRole], [ctmStatus]) VALUES (N'd865e2cc-a000-401a-8a0b-539b72db7309', CAST(0x0000AA4D00BE9771 AS DateTime), N'Phu', N'', N'30/4 KP FHT Q12', N'0968735840', N'test@gmail.com', N'a12345', NULL, NULL, NULL, NULL, NULL, N'new')
INSERT [dbo].[DVR] ([dvrid], [createdDate], [dvrChannel], [dvrInPort], [dvrOutPort], [dvrCompression], [dvrRecord], [dvrPlayback], [dvrPower], [prdid]) VALUES (N'6caea6da-b59f-4856-b1e6-771cc97fd4ce', CAST(0x0000AA4E0052BE76 AS DateTime), N'5 Chanel', N'CVI/TVI/AHD(1.0, 1.3, 2.0)/Analog/IP(2MP)', N'VGA/HDMI', N'H.264', N'2.0 MP Lite , 1.0MP', N'4 channel', NULL, N'c0bb9c3d-8b5b-4989-b7a5-34c3dc0adc4b')
INSERT [dbo].[DVR] ([dvrid], [createdDate], [dvrChannel], [dvrInPort], [dvrOutPort], [dvrCompression], [dvrRecord], [dvrPlayback], [dvrPower], [prdid]) VALUES (N'b1159b19-69bc-4a78-9d83-d4e02367255e', CAST(0x0000AA4E0054A96E AS DateTime), N'4 Chanel', N'Camera CVI/TVI/AHD/Analog/IP(Camera ip to 5mp)', N'VGA/HDMI', N'H.264', N'1080N, 720P', N'4 channel , support Onvif 2.', NULL, N'ec5ca98d-881c-4533-977c-2f83a2ed8607')
INSERT [dbo].[DVR] ([dvrid], [createdDate], [dvrChannel], [dvrInPort], [dvrOutPort], [dvrCompression], [dvrRecord], [dvrPlayback], [dvrPower], [prdid]) VALUES (N'c52d4987-380e-4711-93c4-e6833cdbaffa', CAST(0x0000AA4E00557C70 AS DateTime), N'8 Channel', N'Camera CVI/TVI/AHD/Analog/IP(Camera ip to 5mp)', N'VGA/HDMI', N'H.264', N'1080N, 720P', N'1/4/9 Chanel , Support Onvif 2.4', NULL, N'15ed68dc-a944-4e56-bc9b-7e28f755f339')
INSERT [dbo].[OrderDetail] ([oddid], [createdDate], [oddQuantity], [oddPrice], [odmid], [prdid]) VALUES (N'033a9e6e-ec5a-4050-883c-62c5b4037946', CAST(0x0000AA4E00F0CC5F AS DateTime), 1, 550000, N'646a252d-dbe0-43f3-a134-5beb6f123c33', N'3b184074-35b5-4080-9888-7005526152a4')
INSERT [dbo].[OrderDetail] ([oddid], [createdDate], [oddQuantity], [oddPrice], [odmid], [prdid]) VALUES (N'0efabe0e-f650-459f-a319-39f54320554e', CAST(0x0000AA4E01257B7E AS DateTime), 1, 770000, N'03130d29-99ac-4ab7-8c3b-2076768fed99', N'123800b5-c510-42bb-80f6-8143dad7d5a7')
INSERT [dbo].[OrderDetail] ([oddid], [createdDate], [oddQuantity], [oddPrice], [odmid], [prdid]) VALUES (N'255a5073-92f5-4bff-ad7d-11deb1895563', CAST(0x0000AA4E00E696AA AS DateTime), 1, 152000, N'b0449160-1d34-4a0e-9bce-f02ab180d7cc', N'949b7769-f9ca-433d-ad5e-81d540d64d9b')
INSERT [dbo].[OrderMaster] ([odmid], [createdDate], [installationDate], [odmPrice], [odmPayments], [odmStatus], [odmDescript], [ctmid]) VALUES (N'03130d29-99ac-4ab7-8c3b-2076768fed99', CAST(0x0000AA4E012659A5 AS DateTime), NULL, 10970000, NULL, N'new', NULL, N'ctm1')
INSERT [dbo].[OrderMaster] ([odmid], [createdDate], [installationDate], [odmPrice], [odmPayments], [odmStatus], [odmDescript], [ctmid]) VALUES (N'14628134-d828-4081-915f-894984ab9a12', CAST(0x0000AA4E00FC4722 AS DateTime), NULL, 1380000, NULL, N'new', NULL, N'd865e2cc-a000-401a-8a0b-539b72db7309')
INSERT [dbo].[OrderMaster] ([odmid], [createdDate], [installationDate], [odmPrice], [odmPayments], [odmStatus], [odmDescript], [ctmid]) VALUES (N'646a252d-dbe0-43f3-a134-5beb6f123c33', CAST(0x0000AA4E00F14FC0 AS DateTime), NULL, 4830000, NULL, N'new', NULL, N'd865e2cc-a000-401a-8a0b-539b72db7309')
INSERT [dbo].[Product] ([prdid], [createdDate], [prdTittle], [prdPower], [prdWarranty], [prdImage], [prdImage2], [prdImage3], [prdDiscount], [prdPrice], [prdDescript], [prdStatus], [ctgid]) VALUES (N'123800b5-c510-42bb-80f6-8143dad7d5a7', CAST(0x0000AA4E003B6625 AS DateTime), N'KX - 1004C4', N'DC 12V, IP67', N'12', N'img/KX-1002C4.png', N'img/KX-1002C4.png', N'img/KX-1002C4.png', 0, 770000, N'CAMERA 4 IN 1(CTV, TVI,AHD,Analog)', N'active', N'cate1')
INSERT [dbo].[Product] ([prdid], [createdDate], [prdTittle], [prdPower], [prdWarranty], [prdImage], [prdImage2], [prdImage3], [prdDiscount], [prdPrice], [prdDescript], [prdStatus], [ctgid]) VALUES (N'15ed68dc-a944-4e56-bc9b-7e28f755f339', CAST(0x0000AA4E00557C67 AS DateTime), N'KX - X108C', N'220V', N'6', N'img/KX-X108C.jpg', N'img/KX-X108C.jpg', N'img/KX-X108C.jpg', 0, 3400000, N'HD(5in1)4 chanel + 1 chanel IP', N'active', N'cate31')
INSERT [dbo].[Product] ([prdid], [createdDate], [prdTittle], [prdPower], [prdWarranty], [prdImage], [prdImage2], [prdImage3], [prdDiscount], [prdPrice], [prdDescript], [prdStatus], [ctgid]) VALUES (N'172ee385-1464-4e80-99ca-abf072f130bb', CAST(0x0000AA4E00467065 AS DateTime), N'KX - 2011C4', N'DC 12V, IP67', N'3', N'img/KX-2001C4.jpg', N'img/KX-2001C4.jpg', N'img/KX-2001C4.jpg', 0, 920000, N'CAMERA 4 IN 1(CTV, TVI,AHD,Analog)', N'new', N'cate4')
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([wishid], [createdDate], [prdid], [ctmid]) VALUES (2, NULL, N'123800b5-c510-42bb-80f6-8143dad7d5a7', N'ctm1')
INSERT [dbo].[Wishlist] ([wishid], [createdDate], [prdid], [ctmid]) VALUES (3, NULL, N'15ed68dc-a944-4e56-bc9b-7e28f755f339', N'ctm1')
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_createdDate]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Camera]  WITH CHECK ADD  CONSTRAINT [FK_Camera_Product] FOREIGN KEY([prdid])
REFERENCES [dbo].[Product] ([prdid])
GO
ALTER TABLE [dbo].[Camera] CHECK CONSTRAINT [FK_Camera_Product]
GO
ALTER TABLE [dbo].[DVR]  WITH CHECK ADD  CONSTRAINT [FK_DVR_Product] FOREIGN KEY([prdid])
REFERENCES [dbo].[Product] ([prdid])
GO
ALTER TABLE [dbo].[DVR] CHECK CONSTRAINT [FK_DVR_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_OrderMaster] FOREIGN KEY([odmid])
REFERENCES [dbo].[OrderMaster] ([odmid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_OrderMaster]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductSub] FOREIGN KEY([prdid])
REFERENCES [dbo].[Product] ([prdid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductSub]
GO
ALTER TABLE [dbo].[OrderMaster]  WITH CHECK ADD  CONSTRAINT [FK_OrderMaster_Customer] FOREIGN KEY([ctmid])
REFERENCES [dbo].[Customer] ([ctmid])
GO
ALTER TABLE [dbo].[OrderMaster] CHECK CONSTRAINT [FK_OrderMaster_Customer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_ProductSub_Category] FOREIGN KEY([ctgid])
REFERENCES [dbo].[Category] ([ctgid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_ProductSub_Category]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Customer] FOREIGN KEY([ctmid])
REFERENCES [dbo].[Customer] ([ctmid])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Customer]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Customer] FOREIGN KEY([ctmid])
REFERENCES [dbo].[Customer] ([ctmid])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Customer]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([prdid])
REFERENCES [dbo].[Product] ([prdid])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[8] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OrderDetail"
            Begin Extent = 
               Top = 0
               Left = 514
               Bottom = 130
               Right = 684
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 4
               Left = 288
               Bottom = 134
               Right = 458
            End
            DisplayFlags = 280
            TopColumn = 9
         End
         Begin Table = "Camera"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "OrderMaster"
            Begin Extent = 
               Top = 6
               Left = 722
               Bottom = 136
               Right = 893
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 132
               Left = 496
               Bottom = 262
               Right = 666
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vCameraOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vCameraOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vCameraOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DVR"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 6
               Left = 251
               Bottom = 136
               Right = 421
            End
            DisplayFlags = 280
            TopColumn = 9
         End
         Begin Table = "OrderDetail"
            Begin Extent = 
               Top = 14
               Left = 442
               Bottom = 144
               Right = 612
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "OrderMaster"
            Begin Extent = 
               Top = 6
               Left = 668
               Bottom = 136
               Right = 839
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vDvrOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vDvrOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vDvrOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "od"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewTopProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewTopProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OrderDetail"
            Begin Extent = 
               Top = 8
               Left = 241
               Bottom = 138
               Right = 411
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OrderMaster"
            Begin Extent = 
               Top = 10
               Left = 26
               Bottom = 140
               Right = 197
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 6
               Left = 455
               Bottom = 136
               Right = 625
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 6
               Left = 663
               Bottom = 136
               Right = 833
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vProductOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vProductOrder'
GO
